Delegates/Basics/obj/project.nuget.cache
Delegates/Basics/obj/project.assets.json
Delegates/Basics/obj/DelegateBasics.csproj.nuget.dgspec.json
Delegates/Basics/obj/DelegateBasics.csproj.nuget.g.targets
Delegates/Basics/obj/DelegateBasics.csproj.nuget.g.props
